@import './../../../../scss/index.scss';

.action {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    
    i {
        font-size: 18px !important;

        &:hover {
            cursor:pointer;
        }
    }

    .like.active {
        color: $danger;
    }
}